/* fonts */
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
}
/* reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* vars */
.about__contant-text, .services__item-text, body {
  font-family: "Playfair Display";
  font-weight: 400;
}

.testimonial__item-title {
  font-family: "Playfair Display";
  font-weight: 700;
}

.services__item-title {
  font-family: "Playfair Display";
  font-weight: 900;
}

.top-slider__item-text {
  font-family: "Inter";
  font-weight: 200;
}

.footer__links-link, .footer__articles-link, .footer__item-info, .projects__btn, .menu__list-link {
  font-family: "Inter";
  font-weight: 400;
}

.about__contant-link {
  font-family: "Inter";
  font-weight: 600;
}

.footer__title {
  font-family: "Inter";
  font-weight: 900;
}

/* global */
html,
body {
  height: 100%;
}

body {
  color: #2f2e2e;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 51px;
  line-height: 60px;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #2f2e2e;
}

button {
  background-color: #fff;
}

/* header */
.header {
  padding: 45px 0 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__search {
  margin-left: 64px;
}
.header__search-btn {
  border: none;
  position: relative;
  width: 25px;
  height: 22px;
  cursor: pointer;
  background-image: url("../images/search.svg");
  padding: 0;
}

.menu {
  margin-left: auto;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
  gap: 106px;
}
.menu__list-link {
  font-size: 20px;
  line-height: 24px;
  color: #2f2e2e;
  transition: all 0.3s;
}
.menu__list-link:hover {
  text-shadow: 0px 0px 1px black;
}

.top-slider {
  margin-top: 135px;
}
.top-slider__container {
  max-width: 1440px;
}
.top-slider__item {
  position: relative;
}
.top-slider__img {
  margin-left: auto;
}
.top-slider__item-info {
  max-width: 691px;
  padding: 138px 155px 138px 100px;
  position: absolute;
  top: 95px;
  left: 0;
  background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}
.top-slider__item-title {
  margin-bottom: 10px;
}
.top-slider__item-text {
  font-size: 32px;
  line-height: 39px;
  color: #2f2e2e;
}
.top-slider .slick-prev {
  bottom: 4px;
  right: 81px;
}
.top-slider .slick-next {
  bottom: 4px;
  right: 0px;
}
.top-slider .slick-prev,
.top-slider .slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  background: rgba(244, 246, 245, 0.7);
  font-size: 0;
}
.top-slider .slick-arrow {
  padding: 16px 29px;
}

.services {
  padding: 16px 0 65px;
  background-color: rgba(37, 77, 77, 0.2);
  margin-top: -4px;
}
.services__title {
  text-align: center;
  margin-bottom: 25px;
}
.services__items {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}
.services__item {
  max-width: 158px;
  text-align: center;
}
.services__item-img {
  margin: 0 auto;
  margin-bottom: 8px;
}
.services__item-title {
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 10px;
}
.services__item-text {
  font-size: 16px;
  line-height: 19px;
}

.about {
  padding-top: 135px;
}
.about__inner {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "images title" "images  content";
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.about__img {
  grid-area: images;
}
.about__title {
  margin-bottom: 27px;
  grid-area: title;
}
.about__content {
  max-width: 456px;
  grid-area: content;
}
.about__contant-text {
  font-size: 31px;
  line-height: 36px;
  margin-bottom: 36px;
}
.about__contant-link {
  font-size: 24px;
  line-height: 29px;
  color: #2f2e2e;
}

.projects {
  padding-top: 135px;
  padding-bottom: 4px;
}
.projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  gap: 30px;
}
.projects__filter-btn {
  display: flex;
  align-items: center;
  gap: 100px;
}
.projects__btn {
  border: none;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
.projects__btn:hover {
  text-shadow: 0px 0px 1px black;
}
.projects__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projects__item {
  margin-bottom: 86px;
}
.projects__item-img {
  margin-bottom: 13px;
}
.projects__item-text {
  text-align: center;
  max-width: 178px;
  margin: 0 auto;
}

.mixitup-control-active {
  text-shadow: 0px 0px 1px black;
}

.testimonial {
  padding: 0 0 66px;
}
.testimonial__title {
  text-align: center;
  margin-bottom: 91px;
}
.testimonial__item {
  padding-bottom: 88px;
}
.testimonial__item-content {
  display: flex;
}
.testimonial__item-img {
  margin-right: 29px;
}
.testimonial__item-title {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 16px;
}
.testimonial__item-text {
  max-width: 307px;
  font-size: 17px;
  line-height: 20px;
}
.testimonial ul.slick-dots {
  display: flex;
  justify-content: center;
}
.testimonial ul.slick-dots button {
  border: none;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e9e9e9;
  margin-right: 20px;
}
.testimonial ul.slick-dots li.slick-active button {
  background-color: #c4c4c4;
}

.footer {
  background-color: #2e2f32;
  color: #fafafa;
  padding: 47px 0 44px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__logo {
  margin-bottom: 7px;
  display: inline-block;
}
.footer__item-info {
  font-size: 17px;
  line-height: 29px;
  max-width: 287px;
  margin-bottom: 50px;
}
.footer__social-list {
  display: flex;
  align-items: center;
}
.footer__social-link {
  margin-right: 36px;
}
.footer__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
}
.footer__articles-item {
  margin-bottom: 10px;
}
.footer__articles-link {
  color: #fafafa;
}
.footer__articles-link:hover {
  text-shadow: 0px 0px 1px #fafafa;
}
.footer__links-item {
  margin-bottom: 5px;
}
.footer__links-link {
  color: #fafafa;
  font-size: 17px;
  line-height: 21px;
}
.footer__links-link:hover {
  text-shadow: 0px 0px 1px #fafafa;
}

@media (max-width: 1024px) {
  .menu__list {
    gap: 53px;
  }
  .footer__items {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .about__inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title" "images" "content";
    justify-items: center;
    gap: 20px;
    align-items: center;
  }
  .about__content {
    max-width: 735px;
  }
  .projects__filter-btn {
    gap: 50px;
  }
  .testimonial__item-content {
    justify-content: center;
  }
}
@media (max-width: 882px) {
  .top-slider__item {
    padding-bottom: 56px;
  }
  .top-slider__img {
    margin-left: 0;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .top-slider__item-info {
    position: static;
    max-width: 100%;
    padding: 30px;
  }
  .top-slider__item-title {
    font-size: 44px;
    line-height: 54px;
  }
  .top-slider__item-text {
    font-size: 26px;
    line-height: 36px;
  }
  .top-slider .slick-next,
.top-slider .slick-prev {
    bottom: 0;
  }
  .services {
    margin-top: 0;
  }
  .projects__top {
    flex-wrap: wrap;
  }
  .projects__filter-btn {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .menu {
    display: flex;
  }
  .menu__list {
    position: absolute;
    gap: 30px;
    flex-direction: column;
    background-color: #fff;
    top: 100px;
    left: 0;
    align-items: center;
    right: 0;
    z-index: 99;
    transform: translateY(-200%);
    transition: all 0.5s;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  .menu__list-item:last-child {
    padding-bottom: 15px;
  }
  .menu__btn {
    display: none;
    width: 43px;
    height: 25px;
    padding: 0;
    border: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .menu__btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #141414;
  }
  .menu__btn::after, .menu__btn::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #141414;
    width: 100%;
  }
  .menu__btn::after {
    top: 0;
  }
  .menu__btn::before {
    bottom: 0;
  }
}
@media (max-width: 526px) {
  .testimonial__item {
    padding-bottom: 35px;
  }
  .testimonial__item-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .testimonial__item-img {
    width: 151px;
    margin-right: 0;
  }
  .testimonial__item-text {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .header__search {
    display: none;
  }
  .top-slider__item-info {
    padding: 15px;
  }
  .top-slider__item-title {
    font-size: 34px;
    line-height: 44px;
  }
  .top-slider__item-text {
    font-size: 22px;
    line-height: 32px;
  }
  .about__contant-text {
    font-size: 22px;
    line-height: 32px;
  }
  .projects__filter-btn {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */